- var title = 'Обработка нового варианта';

extends ../layout

block content
  br
  form.form-horizontal(role="form", method="post")
    .form-group
      label.col-md-2.control-label Время обращения
      .col-md-6
        span.form-control= appeal.start_time.toLocaleString()
        input#id(value="#{appeal.id}", type="hidden", name="id")
    .form-group
      label.col-md-2.control-label Вопрос клиента
      .col-md-10
        textarea.form-control(maxlength=2000, rows=10, name="question")= appeal.question

    .form-group
      label.col-md-2.control-label
      .col-md-10
        include ../tree.jade
    
    .form-group
      label.col-md-2.control-label Текст нового варианта ответа
      .col-md-10
        textarea#desc.form-control(maxlength=2000, rows=10, name="desc")= appeal.new_response

    .form-group
      label.col-md-2.control-label Краткое название
      .col-md-10
        input#name.form-control(maxlength=30, name="name", value="#{appeal.new_response}")
    br
    .form-group
      .col-md-offset-2.text-right
        input.btn.btn-lg.btn-default.btn-primary(name='accept', type='submit', value='Принять')  
        |&nbsp;      
        input.btn.btn-lg.btn-default(name='decline', type='submit', value='Отклонить')        
        |&nbsp;      
        a.btn.btn-lg.btn-default(href="/admin/approval") Назад
