- var title = 'Обработка вариантов оператора';

extends ../layout

block content
  h3 Обработка вариантов оператора

  if appeals.length>0
    table.table.table-bordered
      thead
        tr
          th #
          th Время обслуживания
          th Вариант
      tbody
        each appeal in appeals
          tr
            td= appeal.id 
            td
              a(href="/admin/approve/#{appeal.id}")= appeal.start_time.toLocaleString()
            td= appeal.new_response
