extends ../layout

block content
  h3= title

  include ../tree.jade

  .form-group
    .col-md-offset-2.text-right
      a.btn.btn-lg.btn-default.btn-primary(href="/admin/new/#{(item || {id:0}).id}") Добавить
      &nbsp;
      a.btn.btn-lg.btn-default(href="/admin") Закончить

block scripts
  script.
    $(function() {
        $('.unlink').click(function() {
            return confirm("Вы уверены?");
        });        
    });