extends ../layout

block content
  h3= title

  if nodes
    table.table
      thead
        tr
          th Путь к вопросу
        tbody
          tr
            td
              Начало
          each node in nodes
            tr
              td= node.name

  if item
    form.form-horizontal(role="form", method="post")
      .form-group
        label.col-md-2.control-label Краткое название
        .col-md-10
          input(type="hidden", value="#{item.id}", name="id")
          input#name.form-control(maxlength=30, name="name", value="#{item.name}")
      .form-group
        label.col-md-2.control-label Полное описание узла
        .col-md-10
          textarea.form-control(maxlength=2000, rows=10, name="desc")= item.desc
      .form-group
        .col-md-offset-2.text-right
          input.btn.btn-lg.btn-default.btn-primary(name='new', type='submit', value='Сохранить')  
          if item
            &nbsp;      
            a.btn.btn-lg.btn-default(href="/admin/basefill/#{id == 0 ? '' : id}") Отменить
