extends ../layout

block content
  h3 Администратор
  a.btn.btn-lg.btn-primary(href="/admin/basefill")
    | Заполнение базы
  br
  br
  a.btn.btn-lg.btn-default(href="/admin/approval")
    | Обработка вариантов оператора