extends ../layout

block content
  h3 Привязать

  if link_item
    h4= link_item.name

    pre= link_item.desc
  
    br

  if nodes
    table.table.table-bordered
      thead
        tr
          th Путь
        tbody
          tr
            td
              a(href="/admin/link/#{link_item.id}/0") Начало
          each node in nodes
            tr
              td
                a(href="/admin/link/#{link_item.id}/#{node.id}")= node.name

  if item
    h4= item.name

    pre= item.desc
  
    br
  
    form.form-horizontal(role="form", method="post")
      input#id(value="#{link_item.id}", type="hidden", name="id")
      input#id(value="#{item.id}", type="hidden", name="to_id")
  
      .form-group
        .col-md-offset-2.text-right
          input.btn.btn-lg.btn-default.btn-primary(name='link', type='submit', value='Привязать')        
          &nbsp;      

  table.table.table-bordered
    thead
      tr
        th Варианты
      tbody
        each node in subnodes
          tr
            td
              a(href="/admin/link/#{link_item.id}/#{node.id}")= node.name

  .form-group
    .col-md-offset-2.text-right
      a.btn.btn-lg.btn-default(href="/admin/basefill/#{link_item.id}") Отменить
