﻿- var title = 'Начало обслуживания';

extends layout

block content
  br
  form.form-horizontal(role="form", method="post")
    .form-group
      label.col-md-2.control-label Время обращения
      .col-md-6
        span.form-control= (new Date()).toLocaleString()
        input(type="hidden", value="#{new Date()}", name="start_time")
    .form-group
      label.col-md-2.control-label Обращение к клиенту
      .col-md-6
        input.form-control(maxlength=100, autofocus="true", name="client")
    .form-group
      label.col-md-2.control-label Вопрос клиента
      .col-md-10
        textarea.form-control(maxlength=2000, rows=10, name="question")

    .form-group
      .col-md-offset-2.text-right
        input.btn.btn-lg.btn-default.btn-primary(type='submit', value='Продолжить')        
