﻿- var title = 'Начало обслуживания';

extends layout

block content
  br
  form.form-horizontal(role="form", method="post")
    .form-group
      label.col-md-2.control-label Время обращения
      .col-md-6
        span.form-control #{(appeal.start_time).toLocaleString()}
    .form-group
      label.col-md-2.control-label Обращение к клиенту
      .col-md-6
        span.form-control #{appeal.client}
    .form-group
      label.col-md-2.control-label Вопрос клиента
      .col-md-10
        pre= appeal.question

    .form-group
      label.col-md-2.control-label
      .col-md-10
        include ./tree.jade

    .form-group
      label.col-md-2.control-label
        input#newq(type='checkbox', name="newq")
        |&nbsp;Новый вопрос
      .col-md-10
        textarea#newqtext.form-control(maxlength=2000, rows=10, style='display: none', name="newqtext")

    .form-group
      .col-md-offset-2.text-right
        input.btn.btn-lg.btn-default.btn-primary(type='submit', value='Закончить обслуживание')        

block scripts
  script.
    $(function() {
        $('#newq').change(function() {
            if ($(this).is(':checked')) {
                $('#newqtext').show();
            }
            else {
                $('#newqtext').hide();
            }
        });
    });