﻿doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

    block styles

    script(src='/javascripts/modernizr-2.6.2.js')

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
          .navbar-brand #{title}
          ul.nav.navbar-nav
            li(class="#{menu === 'operator' ? 'active' : ''}")
              a(href='/') Оператор
            li(class="#{menu === 'admin' ? 'active' : ''}")
              a(href='/admin') Администратор
    .container.body-content
      block content
      hr
      footer
        p &copy; 2016 &mdash; EasyQ

    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')

    block scripts
