table.table
  thead
    tr
      th Путь к вопросу
    tbody
      tr
        td
          a(href="#{url}0") Начало
      if nodes
        each node in nodes
          tr
            td
              a(href="#{url}#{node.id}")= node.name

if item
  h4= item.name

  pre= item.desc
  
  if editable
    .form-group
      .col-md-offset-2.text-right
        a.btn.btn-lg.btn-default.btn-primary(href="/admin/edit/#{item.id}") Редактировать
        &nbsp;      
        a.btn.btn-lg.btn-default(href="/admin/link/#{item.id}/0") Привязать

table.table
  thead
    tr
      th Варианты ответа
      if editable
        th &nbsp;
    tbody
      each node in subnodes
        tr
          td
            a(href="#{url}#{node.id}")= node.name
          if editable
            td.text-right
              a.btn.btn-sm.btn-default.unlink(href="/admin/unlink/#{node.id}/#{item ? item.id : 0}")
                span.glyphicon.glyphicon-remove
